{% extends 'base.html' %}

{% block title %}New User{% endblock %}

{% block body %}
<br>
<div class="container-fluid">
    <a href="/users">Back to List of Users Page</a>
</div>
<br>

<div class="container-fluid">
    <form action="/users/new" method="POST">
        <div class="form-group">
            <label for="FirstNameInput">First name:</label>
            <input type="text" class="form-control" id="FirstNameInput" name='f_name' placeholder="Enter first name" required>
            <small id="" class="form-text text-muted">First name is required</small>
        </div>
        <br>
        <div class="form-group">
            <label for="LastNameInput">Last name:</label>
            <input type="text" class="form-control" id="LastNameInput" name="l_name" placeholder="Enter last name" required>
            <small id="" class="form-text text-muted">Last name is also required</small>
        </div>
        <br>
        <div class="form-group">
            <label for="ImageURLInput">Profile pic URL:</label>
            <input type="url" class="form-control" id="ImageURLInput" name='image_url' placeholder="Enter image URL">
            <small id="" class="form-text text-muted">Must start with http://</small>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add New User</button>
    </form>
</div>


{% endblock %}